/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*universal reset*/
*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:2;
    font-family: 'Roboto', sans-serif;
    background-color:#F7FBFB;
}
section{
    padding:4% 0;
}
h1, h2, h3{
    font-family: 'Hind Siliguri', sans-serif;
    color:#033B58;
    text-align:center;
}
h1{
    font-size:5rem;
    text-align:left;
    color:#F7FBFB;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2.5rem;
}
a{
    text-decoration:none;
    color: #033B58;
    font-family: 'Hind Siliguri', sans-serif;
    transition:2s;
}
a:hover{
    color:#B7CFD1;
    text-decoration:underline;
}
button{
    font-size:2rem;
    font-family: 'Roboto', sans-serif;
    border:3px solid #033B58;
    color:#033B58;
    padding:2% 3%;
    background-color:transparent;
    transition:2s;
}
button:hover{
    background-color:#033B58;
    color:#B7CFD1;
}
hr{
    width:30%;
    text-align:center;
    margin:1% auto 4% auto;
    height:5px;
    background-color:#B7CFD1;
}
/*Header Section Styles*/
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:1% 0;
    position:fixed;
    width:100%;
    top:0;
    z-index:999;
    background-color:rgba(255,255,255,0.75);
}
.name{
    text-align:center;
    font-size:2.5rem;
}
#home{
    height:90vh;
    background-image:url('../images/headerimg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
#home div{
    margin-left:10%;
    text-align:center;
}
/*About Section Styles*/
#about{
    display:flex;
}
#about .right{
    display:flex;
    justify-content: center;
    align-items: center;
}
#about hr{
    margin:5% auto 10% auto;
}
#about .right div{
    width:40%;
    text-align:center;
}
#about .left{
    display:flex;
    justify-content: flex-end;
}
#about .left img{
    width:50%;
}

/*Skills section styles*/
#skills{
    background-color:#B7CFD1;
}
#skills hr{
    background-color:#fff;
    width:5%;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.card{
    background-color:#fff;
    width:25%;
    padding:4%;
}
.html, .css, .git{
    height:30vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.html{
    background-image:url('../images/html.jpg');
}
.css{
    background-image:url('../images/css.jpg');
}
.git{
    background-image: url('../images/github.jpg');
}

/*Projects section*/
#projects hr{
    width:8%;
}
.box{
    width:33.5%;
    margin:2% 0;
    display:flex;
    justify-content: center;
    align-items:center;
    height:30vh;
    background-color: #033B58;
}
.box h3{
    color:#fff;
}
/*Contact Section Code*/
#contact{
    background-color:#B7CFD1;
    text-align:center;
    padding:2% 0;
}
#contact hr{
    background-color:#fff;
    width:8%;
}
#contact button{
    padding:1% 2%;
}